<% include parts/header %>

<div class='container'>
   
    <h1 class='text-center'>DRUMMERS</h1>
    
    <div class='row'>
        
        <div class="col-4">
            <img class='img-fluid' alt="Responsive image" src='https://cdn.pixabay.com/photo/2014/11/04/15/13/barack-obama-516715_1280.jpg'>
            <p class="text-center">Buddy Rich</p>
        </div>
        
         <div class="col-4">
            <img class='img-fluid' alt="Responsive image" src='https://cdn.pixabay.com/photo/2014/11/04/15/13/barack-obama-516715_1280.jpg'>
            <p class="text-center">Buddy Rich</p>
        </div>
        
         <div class="col-4">
            <img class='img-fluid' alt="Responsive image" src='https://cdn.pixabay.com/photo/2014/11/04/15/13/barack-obama-516715_1280.jpg'>
            <p class="text-center">Buddy Rich</p>
        </div>
        
    </div>
</div>





<% include parts/footer %>