<% include parts/header %>

<div class='container'>
   
    <h1 class='text-center'>Guitarists</h1>
    
    <div class='row'>
        
        <div class="col-4">
            <img class='img-fluid' alt="Responsive image" src='https://cdn.pixabay.com/photo/2016/03/09/09/32/guitar-1245856_1280.jpg'>
            <p class="text-center">Jimmy Page</p>
        </div>
        
         <div class="col-4">
            <img class='img-fluid' alt="Responsive image" src='https://cdn.pixabay.com/photo/2016/03/09/09/32/guitar-1245856_1280.jpg'>
            <p class="text-center">Jimmy Page</p>
        </div>
        
         <div class="col-4">
            <img class='img-fluid' alt="Responsive image" src='https://cdn.pixabay.com/photo/2016/03/09/09/32/guitar-1245856_1280.jpg'>
            <p class="text-center">Jimmy Page</p>
        </div>
        
    </div>
</div>





<% include parts/footer %>