<% include parts/header.ejs %>


            
            <div class='container'>
            <div class='jumbotron jumbotron-fluid'>
            	<div class='container'>
            		<h1 class='display-4'>Most known drummers and guitarists ?</h1>
            		<p class='lead'>Do you know any of them ? Check this ! </p>
            		<hr>
            	</div>
            </div>
            <img src="https://cdn.pixabay.com/photo/2014/05/21/15/18/musician-349790_1280.jpg" class='img-fluid' alt='Responsive image'>
            </div>


<% include parts/footer.ejs %>